@import "vars"
@import "fonts"

* 
    box-sizing: border-box

.container
    max-width: 1170px
    width: 96%
    margin: auto
    @media ( max-width: 1300px  )
        width: 90%
.button
    padding: 19px 48px
    color: $accent
    background-color: $buttons
    border: none
    border-radius: 10px
    +bold
    cursor: pointer
    &:hover
        background-color: lighten($buttons,10%)
.input
    border-radius: 10px
    border: 1px solid $boder-input
    padding: 20px 25px
    font-size: 15px
.section-title
    font-size: 30px
    line-height: 45px
    text-align: center
    +bold
.section-subtitle
    font-size: 20px
    line-height: 45px
body
    +reg

.header
    padding: 20px 0px
    &-block
        display: flex
        justify-content: space-between
        align-items: center

    &__info
        display: flex
    
    &__contacts
        display: flex
        flex-direction: column
        text-align: right
        justify-content: center
        @media( max-width: 600px  )
            display: none
            

    &__address
        font-size: 13px
        color: $accent
        +reg

    &__phone
        font-size: 20px
        margin-top: 5px
        text-decoration: none
        color: $accent
        +bold

    &__button
        margin-left: 30px
        padding: 19px 48px
        +bold
    
.main
    background-color: $grey
    padding: 35px 0 15px 0
    &-block
        display: flex
        @media ( max-width:1100px )
            flex-direction: column
    &-text
        flex-basis: 50%
        @media ( max-width:1100px )
            margin-bottom: 30px
        &__headline
            color: $accent
            font-size: 41px
            line-height: 55px
            max-width: 400px
            +bold
            @media ( max-width:1100px )
                margin-right: 10px
            @media ( max-width:640px )
                font-size: 30px
                line-height: 1.4
        &__subheadline
            font-size: 20px
            line-height: 65px
            color: $accent
            +bold
            @media ( max-width:640px )
                font-size: 16px
                line-height: 30px
    &-list
        padding: 0
        margin-top: 40px
        @media ( max-width:640px )
            margin-top: 30px
        &__item
            display: flex
            align-items: center
            margin-bottom: 20px
            &:last-child
                margin-bottom: 0

        &__text
            color: $accent
            font-size: 14px
            line-height: 24px
            margin-left: 29px
            max-width: 300px
            +reg
            @media ( max-width:640px )
                font-size: 12px
                max-width: 200px
                margin-left: 15px
        &__image
            width: 40px
            height: 40px
            border: 2px solid #ffd200
            border-radius: 50px
            display: flex
            justify-content: center
            align-items: center
    &-image
          margin-right: -55px
          @media ( max-width:1100px )
            width: 100%

    &-image img
        max-width: 100%

.offer
    padding: 90px 0
    background: url('../img/offer-image.jpg') no-repeat
    background-position: center right
    background-size: contain
    position: relative
    @media ( max-width:1200px )
        background-size: cover
    @media ( max-width:800px )
        background: #fff
    @media ( max-width:600px )
        padding: 60px 0 90px 0
    &:before
        content: ''
        width: 50%
        height: 100%
        position: absolute
        background-color: #fff 
        top: 0
        left: 0
        
    &-block
        width: 50%
        padding-right: 90px
        position: relative
        @media ( max-width:800px )
            padding-right: 0
            width: 100%
    &__title
        font-size: 24px
        line-height: 35px
        +bold
        width: 350px
        margin-bottom: 25px
        @media ( max-width:600px )
            font-size: 18px
        @media ( max-width:800px )
            line-height: 1.2
        @media ( max-width:380px )
            width: 270px

    &__subtitle
        width: 260px
        margin-bottom: 30px
        @media ( max-width:600px )
            font-size: 14px

    &__input
        margin-bottom: 30px
        width: 240px
        @media ( max-width:1300px )
            width: 100%
        @media ( max-width:380px )
            margin-bottom: 10px
        &:first-child
            margin-right: 10px
    &__button
        width: 100%
        min-height: 70px
        margin-bottom: 30px
        @media ( max-width:800px )
            font-size: 14px
        @media( max-width: 380px  )
        padding: 19px 80px
    &__contacts
        display: flex
        @media ( max-width:1100px )
            flex-direction: column

    &__item1
        margin-right: 115px
        line-height: 24px
        @media ( max-width:1300px )
            width: 100%
            margin-right: 0
        @media ( max-width:1100px )
            margin-bottom: 30px
            @media ( max-width:600px )
                margin-bottom: 15px
                font-size: 15px
    &__item2
        line-height: 24px
        @media ( max-width:1300px )
            width: 100%
        @media ( max-width:600px )
            font-size: 15px
    &__tell
        text-decoration: none
        color: $accent
        +bold

.portfolio
    background: $grey url('../img/portfolio-bg.png') left repeat-y
    background-size: 50%
    padding: 100px 0
    @media ( max-width: 800px )
        background-size: 0%
    @media ( max-width: 600px )
        padding: 60px 0 80px
    &__title
        color: $accent
        margin-bottom: 100px
        @media ( max-width: 600px )
            font-size: 20px
            line-height: 30px
            margin-bottom: 50px
            
    &__arrows
        max-width: 120px
        margin: auto
        display: flex
        margin-top: 70px
        justify-content: space-between

.arrows__left, .arrows__right
    cursor: pointer

.slider
    &__img
        margin: auto

.price
    padding: 100px 0
    @media ( max-width: 600px )
        padding: 60px 0
    &__title
        margin-bottom: 50px
        @media ( max-width: 600px )
            font-size: 18px
            line-height: 30px
            margin-bottom: 25px
    &__subtitle
        display: block
        text-align: center
        margin-bottom: 60px
        @media ( max-width: 600px )
            font-size: 14px
            margin-bottom: 30px
    &__card
        margin-bottom: 30px
.cards
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    @media ( max-width: 1280px  )
        justify-content: space-evenly
        
.card
    border: 1px solid $card-border
    text-align: center
    transition: .2s
    &:hover
        box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1)
        .card__img::before
            opacity: 1
    &__text
        padding: 40px
    &__title
        margin: 0
        font-size: 18px
        margin-bottom: 30px
        @media ( max-width: 600px )
            font-size: 14px
    &__img
        position: relative
        img
            display: block
        &::before
            content: ''
            width: 100%
            height: 100%
            position: absolute
            left: 0
            top: 0
            background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%)
            opacity: 0
            transition: .2s
    &__link
        text-decoration: none
        display: inline-block
        +bold
        color: $accent
        line-height: 18px
        position: relative
        &:hover
            &::after
                height: 13px
        &::after
            content: ''
            display: block
            z-index: -1
            width: 100%
            height: 3px
            background-color: $link-underline
            position: absolute
            bottom: -3px
            left: 0
            transition: .2s


.steps
    padding: 120px
    @media ( max-width: 1200px )
        padding: 60px 0 20px 0
    @media ( max-width: 600px )
        padding: 0
    &__title
        max-width: 528px
        margin: auto
        margin-bottom: 60px
        @media ( max-width: 600px )
            font-size: 18px
            line-height: 25px
            margin-bottom: 40px
    &__subtitle
        display: block
        text-align: center
        margin-bottom: 75px
        @media ( max-width: 600px )
            font-size: 14px
            margin-bottom: 50px
.icons
    display: flex
    justify-content: space-between
    @media ( max-width: 1200px )
        flex-direction: column
.icon
    text-align: center
    position: relative
    
    &:last-child
        &::after
            display: none
    &::after
        position: absolute
        content: ''
        width: 72px
        height: 25px
        background-image: url(../img/iconArrowRight.png)
        display: block
        top: -10px
        right: -95px
        @media ( max-width: 1450px )
            right: -50px
        @media ( max-width: 1200px )
            display: none
            

    &__image
        width: 100px
        height: 100px
        background-color: #ffffff
        border: 3px solid #ffd200
        border-radius: 100px
        display: flex
        justify-content: center
        align-items: center
        margin: auto
        margin-bottom: 30px

    img
        width: 35px
        height: 35px
        display: inline-block
    &__text
        display: inline-block
        font-size: 14px
        line-height: 20px
        text-align: center
        max-width: 148px
        @media ( max-width: 1200px )
            margin-bottom: 100px
        @media ( max-width: 600px )
            font-size: 12px
            margin-bottom: 70px

.notice
    padding: 100px 0
    background-color: #ffc000
    @media ( max-width: 600px )
        padding: 70px 0
    &__title
        font-size: 32px
        line-height: 50px
        max-width: 750px
        margin: auto
        text-align: center
        @media ( max-width: 600px )
            font-size: 18px
            line-height: 25px


.info
    padding: 100px 0 150px 0
.benefits
    display: flex
    justify-content: space-between
    @media ( max-width: 1300px )
        flex-direction: column
        justify-content: center
.benefit
    flex-direction: column
    justify-content: space-between
    height: 410px
    max-width: 370px
    position: relative
    background-color: $benefit-bg
    display: flex
    @media ( max-width: 1300px )
        width: 100%
        margin: auto
        margin-bottom: 100px
    &__img
        position: absolute
        bottom: 0
        left: 0
    &__text
        padding: 26px 80px 0 26px
        font-size: 16px
        line-height: 23px
        strong
            +bold
        @media ( max-width: 600px )
            font-size: 12px
            
.documents
    margin-top: 150px
    @media ( max-width: 1300px )
        margin-top: 100px
    @media ( max-width: 600px )
        margin-top: 0
    &__title
        margin-bottom: 100px
        @media ( max-width: 600px )
            font-size: 18px
            line-height: 25px
.documents-wrap
    display: flex
    justify-content: space-between
    @media ( max-width: 950px )
        flex-direction: column
        
    &__text
        font-size: 18px
        line-height: 24px
        text-align: center
        margin-top: 41px
        @media ( max-width: 950px )
            margin-top: 30px
            margin-bottom: 120px
        @media ( max-width: 600px )
            font-size: 14px
            margin-bottom: 60px
            line-height: 18px
    &__item
        @media ( max-width: 950px )
            margin: auto

.brief
    padding: 100px 0
    background-image: url('../img/brief-color-bg.png'), url('../img/brief-bg.jpg')
    background-position: left center, center right
    background-size: 50%, cover
    background-repeat: repeat-y, no-repeat
    @media ( max-width: 1268px )
        padding: 100px 0
        background-image: url('../img/brief-color-bg.png'), url('../img/brief-bg.jpg')
        background-position: top center, center bottom
        background-size: 100% 50%, cover
        background-repeat: repeat-x, no-repeat
        padding: 50px 0
    
    &-block
        display: flex
        @media ( max-width: 1268px )
            flex-direction: column
    &__interview
        flex-basis: 50%
        padding-right: 200px
        @media ( max-width: 1268px )
            padding-bottom: 80px
            padding-right: 50px
    &__form
        flex-basis: 50%
        padding-left: 200px
        @media ( max-width: 1268px )
            padding-left: 0
.interview
    &__title
        font-size: 22px
        line-height: 33px
        margin-bottom: 50px
        +bold
        @media ( max-width: 650px )
            font-size: 18px
            margin-bottom: 40px
    &__subtitle
        font-size: 16px
        line-height: 45px
        display: block
        margin-bottom: 100px
        @media ( max-width: 650px )
            font-size: 14px
            margin-bottom: 70px
    &-list
        list-style-type: none
        padding:0
        &__item
            display: flex
            margin-bottom: 25px
            align-items: center
            +bold
        &__counter
            width: 35px
            height: 35px
            border: 2px solid $counter-border
            border-radius: 50px
            margin-right: 30px
            display: inline-block
            text-align: center
            line-height: 35px
            font-size: 14px
        &__text
            max-width: 300px
            font-size: 18px
            @media ( max-width: 650px )
                font-size: 14px
                min-width: 200px

.form
    text-align: center
    &__title
        font-size: 22px
        line-height: 33px
        +bold
        margin-bottom: 50px
        @media ( max-width: 650px )
            font-size: 18px
            line-height: 25px
            margin-bottom: 30px
    &__subtitle
        font-size: 16px
        line-height: 45px
        display: block  
        margin-bottom: 50px
        @media ( max-width: 650px )
            font-size: 14px
            margin-bottom: 35px
    &__desc
        font-size: 15px
        line-height: 24px
        @media ( max-width: 650px )
            font-size: 14px
.error
    border: 2px solid red
.brief
    &__input
        width: 100%
        margin-bottom: 15px
        &:last-child
            margin-bottom: 0
    &__button
        width: 100%
        margin: 30px 0
        font-size: 15px
        line-height: 24px
        +bold
        @media ( max-width: 650px )
            font-size: 14px
            line-height: 18px
        
        
        


.modal
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(#000,.5)
    display: none
    &-active
        display: flex
    &-dialog
        margin: auto
        max-width: 400px
        width: 90%
        min-height: 200px
        background-color: #fff
        padding: 40px
        position: relative
        &__close
            position: absolute
            top: 0
            right: 0


